@import "tailwindcss";

@theme {
  --color-bg: #050505;
  --color-surface: #121212;
  --color-surface-lighter: #1e1e1e;
  --color-accent: #E50914;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B3B3B3;
  --color-border-theme: rgba(255, 255, 255, 0.1);
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

